@import "../../styles/variables";
.fetchWrapper {
  h2 {
    margin-top: 2rem;
  }
  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.error {
  color: $red;
  font-size: 1.5rem;
}
